/**
 * Variable Overrides.
 *
 * Modify this file to override the Bootstrap Framework variables. You can copy
 * these variables directly from ../bootstrap/less/variables.less to this file.
 */

// Set the proper directory for the Bootstrap Glyphicon font.
@icon-font-path: '../bootstrap/fonts/';

@brand-primary: #B45B17;
@brand-secondary: #0E6F68;
@brand-tertiary: #B47E17;
@brand-quaternary: #1A3A78;
@background-gray: #9f9f9f;

@text-with-bg: #fff;

@border-radius-base: 0px;
@border-radius-large: 0px;
@border-radius-small: 0px;