/**
 * Variable Overrides.
 *
 * Modify this file to override the Bootstrap Framework variables. You can copy
 * these variables directly from ../bootstrap/less/variables.less to this file.
 */

// Set the proper directory for the Bootstrap Glyphicon font.
@icon-font-path: '../bootstrap/fonts/';

@brand-primary: #843E0D;
@brand-secondary: #49A30E;
@brand-tertiary: #BF9101;
@brand-quaternary: #38CDF7;
@background-gray: #9f9f9f;
@background-light-gray: #F3F1EB;

@text-with-bg: #fff;

@border-radius-base: 0px;
@border-radius-large: 0px;
@border-radius-small: 0px;